<html>
    <head>
        <title>Afya Bora | Diagnosis validated</title>
        <style>
            body{
                text-align: center;
                background: skyblue;
            }
            h1{
                margin-top:200px;
                font-family: sans-serif;
                color:#fff;
                font-size: 2em;
            }
        </style>
    </head>
    <body>
        <h1>Thank you for validating this diagnosis :).</h1>
    </body>
</html>